
<script>
var websocket; 
</script>
	
<div ng-controller="ChatCtrl">

	<div style="margin-left: 35px;">
		<ul id="nav">
			<li style='width: 20%;'><a ui-sref="chatRooms">ChatRooms</a></li>
		</ul>
	</div>
	<div style="position: absolute;right: 0px;">
		<a ng-click="prev()" title="next list" style="cursor: pointer;">
			<img src="images/prev.png" style="margin-right:0px;">
		</a>
		<a ng-click="next()" title="next list" style="cursor: pointer;">
			<img src="images/next.png" style="margin-right:0px;">
		</a>
	</div>

</div>
<div data-ng-init="init()">
	<h2>Chat room: <div id="chatroom">{{chatroom}}</div></h2>
	<h3>User Name:</h3>
  <input ng-model="username" id="username" type='text' style='width: 20%;margin-left: 15px;'/>
	<a ng-click="join()" title="" style="cursor: pointer;">Join</a>
	<a ng-click="quit()" title="" style="cursor: pointer;">Quit</a>
	<a ng-click="clear()" title="" style="cursor: pointer;">Clear</a>
  <input ng-model="text" type='text' style='width: 90%;margin-left: 15px;'/>
	<a ng-click="talk()" title="" style="cursor: pointer;">Send</a>
	<div id="output"></div>
</div>







