<script>
var websocket; 
</script>

<div class="container" ng-controller="ChatCtrl">
    <div class="row " data-ng-init="init()">
        <br />
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3><p id="chatroom" ui-sref="chatRooms" style="cursor: pointer;">{{chatroom}}</p></h2>
                </div>
                <div class="panel-body">
                    <ul class="media-list">
                    <li class="media">
                        <div id="output">
                        </div>
                    </li>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input ng-model="username" id="username" type='text' class="form-control" placeholder="Input user name" />
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button" ng-click="join()">Join</button>
                            <button class="btn btn-info" type="button" ng-click="quit()">Quit</button>
                            <button class="btn btn-info" type="button" ng-click="clear()">Clear</button>
                        </span>
                    </div>
                    <div class="input-group">
                        <input ng-model="text" type="text" id='chatroom' class="form-control" placeholder="Input text" />
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button" ng-click="talk()">Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

