	
<div ng-controller="ChatRoomCtrl">

	<div style="margin-left: 35px;">
		<ul id="nav">
			<li style='width: 20%;'><a ui-sref="chatRooms">ChatRooms</a></li>
		</ul>
	</div>
	<div style="position: absolute;right: 0px;">
		<a ng-click="prev()" title="next list" style="cursor: pointer;">
			<img src="images/prev.png" style="margin-right:0px;">
		</a>
		<a ng-click="next()" title="next list" style="cursor: pointer;">
			<img src="images/next.png" style="margin-right:0px;">
		</a>
	</div>
	
</div>
<div data-ng-init="retrieve()">
	<h2>Chat Room List</h2>
	<h3>Chat Room Name:</h3>
  <input id='chatroom' type='text' style='width: 20%;margin-left: 15px;'/>
	<a ng-click="insert()" title="" style="cursor: pointer;">
		Add
	</a>
   <div ng-repeat="room in chatroom">
   		<a ng-click="join(room)" title="next list" style="cursor: pointer;">
       {{room.name}}
      </a>
       <i ng-click="delete(room, $index)" style="cursor: pointer;">X</i>
   </div>
	<div id="output"></div>
</div>

