
	
<div ng-controller="SwipeCtrl"> <!--  data-ng-init="retrieve( 1 )" -->

	<div style="position: absolute;left: 0px;width:35px;height:64px;cursor: pointer;">
		<a ng-click="refresh()" title="next list">
			<img src="images/reload.png" style="padding-top: 22px;padding-left: 8px;">
		</a>
	</div>
	<div style="margin-left: 35px;">
		<ul id="nav">
			<li style='width: 20%;'><a ui-sref="logs">List</a></li>
			<li style='width: 20%;'><a ui-sref="resources">Resources</a></li>
		</ul>
	</div>
	<div style="position: absolute;right: 0px;">
		<a ng-click="prev()" title="next list" style="cursor: pointer;">
			<img src="images/prev.png" style="margin-right:0px;">
		</a>
		<a ng-click="next()" title="next list" style="cursor: pointer;">
			<img src="images/next.png" style="margin-right:0px;">
		</a>
	</div>

</div>
<div>
	<h2>Chat room</h2>
	<h3>User Name:</h3>
  <input id='username' type='text' style='width: 20%;margin-left: 15px;'/>
	<a ng-click="join()" title="" style="cursor: pointer;">
		Join
	</a>
  <input id='talk' type='text' style='width: 90%;margin-left: 15px;'/>
	<a ng-click="talk()" title="" style="cursor: pointer;">
		Send
	</a>
	<div id="output"></div>
</div>

<script type="text/javascript">
	var height = $(window).height();
	var top1 = height - 170;
	$("#center_align1").css({
	   "position" : "absolute",
	   "top" : top1
	});
	
</script>
















