<script>
var websocket; 
</script>

<div class="container" ng-controller="ChatCtrl">
    <div class="row " data-ng-init="init()">
        <br />
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>{{chatroom}}</h2>
                </div>
                <div class="panel-body">
                    <ul class="media-list">
                    <li class="media">
                        <div id="output" class="output">
                        </div>
                    </li>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input ng-model="username" id="username" ng-keypress="($event.which === 13)?join():0" 
                        	type='text' class="form-control" placeholder="Input user name" />
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button" ng-click="join()">Join</button>
                            <button class="btn btn-info" type="button" ng-click="quit()">Quit</button>
                            <button class="btn btn-info" type="button" ng-click="clear()">Clear</button>
                        </span>
                    </div>
                    <div class="input-group">
                        <input ng-model="text" id='text'  ng-keypress="($event.which === 13)?talk():0" 
                        	type="text" class="form-control" placeholder="Input text." />
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button" ng-click="talk()">Send</button>
                        </span>
                    </div>
                    <div class="input-group" style="width:100%">
                        <div id="output2" class="output">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
		<div>{{msg}}</div>
</div>

